### Ткаченко Владислав Львович ИУ5-62Б РК2 Вариант 18

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

df = pd.read_csv('HRDataset_v14.csv')

In [ ]:
df.head()

In [ ]:
newDf = pd.DataFrame()

In [ ]:
df.info()

In [ ]:
newDf['married'] = df['MarriedID']

In [ ]:
newDf['salary'] = df['Salary']

In [ ]:
newDf['hispanicLatino'] = (df["HispanicLatino"] == 'Yes').astype(int)

In [ ]:
newDf['isWhite'] = (df["RaceDesc"] == 'White').astype(int)

In [ ]:
newDf['isBlack'] = (df["RaceDesc"] == 'Black or African American').astype(int)

In [22]:
newDf['isMoreRaces'] = (df["RaceDesc"] == 'Two or more races').astype(int)

In [23]:
newDf['satisfaction'] = df['EmpSatisfaction']

In [24]:
newDf['engagementSurvey'] = df['EngagementSurvey']

In [25]:
newDf['gender'] = (df["GenderID"] == 0).astype(int)

In [26]:
newDf.describe()

,married,salary,hispanicLatino,isWhite,isBlack,isMoreRaces,satisfaction,engagementSurvey,gender
count,311.000000,311.000000,311.000000,311.000000,311.000000,311.00000,311.000000,311.000000,311.000000
mean,0.398714,69020.684887,0.086817,0.601286,0.257235,0.03537,3.890675,4.110000,0.565916
std,0.490423,25156.636930,0.282020,0.490423,0.437814,0.18501,0.909241,0.789938,0.496435
min,0.000000,45046.000000,0.000000,0.000000,0.000000,0.00000,1.000000,1.120000,0.000000
25%,0.000000,55501.500000,0.000000,0.000000,0.000000,0.00000,3.000000,3.690000,0.000000
50%,0.000000,62810.000000,0.000000,1.000000,0.000000,0.00000,4.000000,4.280000,1.000000
75%,1.000000,72036.000000,0.000000,1.000000,1.000000,0.00000,5.000000,4.700000,1.000000
max,1.000000,250000.000000,1.000000,1.000000,1.000000,1.00000,5.000000,5.000000,1.000000

In [27]:
df_features = newDf.drop('gender', axis=1)
scaler = StandardScaler()
scaler.fit(df_features)
scaled_features = scaler.transform(df_features)
scaled_data = pd.DataFrame(scaled_features, columns = df_features.columns)

In [28]:
x_train, x_test, y_train, y_test = train_test_split(
    scaled_data,
    newDf['gender'],
    test_size=0.4,
    random_state=42
)

In [29]:
clf = RandomForestClassifier(n_estimators=100)
clf.fit(x_train, y_train)
predictions = clf.predict(x_test)

In [30]:
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.44      0.40      0.42        52
           1       0.60      0.63      0.61        73

    accuracy                           0.54       125
   macro avg       0.52      0.52      0.52       125
weighted avg       0.53      0.54      0.53       125

In [31]:
print(confusion_matrix(y_test, predictions))

[[21 31]
 [27 46]]

In [20]:
(newDf["gender"] == 0).value_counts()

False    176
True     135
Name: gender, dtype: int64

In [33]:
clf = svm.SVC()
clf.fit(x_train, y_train)
predictions = clf.predict(x_test)

In [34]:
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.42      0.31      0.36        52
           1       0.59      0.70      0.64        73

    accuracy                           0.54       125
   macro avg       0.50      0.50      0.50       125
weighted avg       0.52      0.54      0.52       125

In [35]:
print(confusion_matrix(y_test, predictions))

[[16 36]
 [22 51]]

In [ ]:
Видим - модель предсказывает, что сотрудник женщина чуть лучшее чем