### Ткаченко Владислав Львович ИУ5-62Б РК2 Вариант 18

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

df = pd.read_csv('HRDataset_v14.csv')

In [2]:
df.head()

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2

In [3]:
newDf = pd.DataFrame()

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Employee_Name               311 non-null    object
 1   EmpID                       311 non-null    int64
 2   MarriedID                   311 non-null    int64
 3   MaritalStatusID             311 non-null    int64
 4   GenderID                    311 non-null    int64
 5   EmpStatusID                 311 non-null    int64
 6   DeptID                      311 non-null    int64
 7   PerfScoreID                 311 non-null    int64
 8   FromDiversityJobFairID      311 non-null    int64
 9   Salary                      311 non-null    int64
 10  Termd                       311 non-null    int64
 11  PositionID                  311 non-null    int64
 12  Position                    311 non-null    object
 13  State                       311 non-null    object
 14  Zip                         311 non-null    int64
 15  DOB                         311 non-null    object
 16  Sex                         311 non-null    object
 17  MaritalDesc                 311 non-null    object
 18  CitizenDesc                 311 non-null    object
 19  HispanicLatino              311 non-null    object
 20  RaceDesc                    311 non-null    object
 21  DateofHire                  311 non-null    object
 22  DateofTermination           104 non-null    object
 23  TermReason                  311 non-null    object
 24  EmploymentStatus            311 non-null    object
 25  Department                  311 non-null    object
 26  ManagerName                 311 non-null    object
 27  ManagerID                   303 non-null    float64
 28  RecruitmentSource           311 non-null    object
 29  PerformanceScore            311 non-null    object
 30  EngagementSurvey            311 non-null    float64
 31  EmpSatisfaction             311 non-null    int64
 32  SpecialProjectsCount        311 non-null    int64
 33  LastPerformanceReview_Date  311 non-null    object
 34  DaysLateLast30              311 non-null    int64
 35  Absences                    311 non-null    int64
dtypes: float64(2), int64(16), object(18)
memory usage: 87.6+ KB

In [5]:
newDf['married'] = df['MarriedID']

In [6]:
newDf['salary'] = df['Salary']

In [7]:
newDf['hispanicLatino'] = (df["HispanicLatino"] == 'Yes').astype(int)

In [8]:
newDf['isWhite'] = (df["RaceDesc"] == 'White').astype(int)

In [9]:
newDf['isBlack'] = (df["RaceDesc"] == 'Black or African American').astype(int)

In [10]:
newDf['isMoreRaces'] = (df["RaceDesc"] == 'Two or more races').astype(int)

In [11]:
newDf['satisfaction'] = df['EmpSatisfaction']

In [12]:
newDf['engagementSurvey'] = df['EngagementSurvey']

In [13]:
newDf['gender'] = (df["GenderID"] == 0).astype(int)

In [14]:
newDf.describe()

,married,salary,hispanicLatino,isWhite,isBlack,isMoreRaces,satisfaction,engagementSurvey,gender
count,311.000000,311.000000,311.000000,311.000000,311.000000,311.00000,311.000000,311.000000,311.000000
mean,0.398714,69020.684887,0.086817,0.601286,0.257235,0.03537,3.890675,4.110000,0.565916
std,0.490423,25156.636930,0.282020,0.490423,0.437814,0.18501,0.909241,0.789938,0.496435
min,0.000000,45046.000000,0.000000,0.000000,0.000000,0.00000,1.000000,1.120000,0.000000
25%,0.000000,55501.500000,0.000000,0.000000,0.000000,0.00000,3.000000,3.690000,0.000000
50%,0.000000,62810.000000,0.000000,1.000000,0.000000,0.00000,4.000000,4.280000,1.000000
75%,1.000000,72036.000000,0.000000,1.000000,1.000000,0.00000,5.000000,4.700000,1.000000
max,1.000000,250000.000000,1.000000,1.000000,1.000000,1.00000,5.000000,5.000000,1.000000

In [15]:
df_features = newDf.drop('gender', axis=1)
scaler = StandardScaler()
scaler.fit(df_features)
scaled_features = scaler.transform(df_features)
scaled_data = pd.DataFrame(scaled_features, columns = df_features.columns)

In [16]:
x_train, x_test, y_train, y_test = train_test_split(
    scaled_data,
    newDf['gender'],
    test_size=0.4,
    random_state=42
)

In [17]:
clf = RandomForestClassifier(n_estimators=100)
clf.fit(x_train, y_train)
predictions = clf.predict(x_test)

In [18]:
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.49      0.46      0.48        52
           1       0.63      0.66      0.64        73

    accuracy                           0.58       125
   macro avg       0.56      0.56      0.56       125
weighted avg       0.57      0.58      0.57       125

In [19]:
print(confusion_matrix(y_test, predictions))

[[24 28]
 [25 48]]

In [20]:
(newDf["gender"] == 0).value_counts()

False    176
True     135
Name: gender, dtype: int64

In [21]:
clf = svm.SVC()
clf.fit(x_train, y_train)
predictions = clf.predict(x_test)

In [22]:
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.42      0.31      0.36        52
           1       0.59      0.70      0.64        73

    accuracy                           0.54       125
   macro avg       0.50      0.50      0.50       125
weighted avg       0.52      0.54      0.52       125

In [23]:
print(confusion_matrix(y_test, predictions))

[[16 36]
 [22 51]]

Видим - модель предсказывает, что сотрудник женщина чуть лучшее чем